apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service
  namespace: ai-task
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-service
  template:
    metadata:
      labels:
        app: task-service
    spec:
      containers:
        - name: task-service
          image: LOCATION-docker.pkg.dev/PROJECT_ID/danushka-ar/task-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
---
apiVersion: v1
kind: Service
metadata:
  name: task-service
  namespace: ai-task
spec:
  selector:
    app: task-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
